.footer {
    background: $text;
    color: $background;
    padding: 15px 0;
    &__text{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    &__link {
    color: $background;    
    padding: 0;
    display: inline; 
    transition: color 300ms;
        &:hover {
            color: $colorAccent;
        }
    }
    &__credits {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__unsplashLink {
        margin: 0 5px;  
    }
}