html {
    font-size: 62.5%;       
}

body {
    font-size: ($fontSize / 10) * 1rem;    
    font-family: $fontFamily;
    color: $text;  
    font-weight: 400;
    background: $background;
}

p {
    line-height: 28px;
    margin: 0 0 20px 0;
    padding: 0;
}

a {
    color: $text;    
    text-decoration: none; 
    margin: 0;  
    padding: 10px;
    display: block;       
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}