.transition {
    padding: 200px 0;
    background: $color;
    display: none;
    &__icon {
        display: block;
        text-align: center;
        margin: 0 auto 25px auto;
        color: $text;
        animation-duration: 1200ms;
        animation-iteration-count: 2;
    }
}