article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  padding: 10px; }

.skipLink:focus {
  left: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #4b5b86;
  font-weight: 400;
  background: #ecedf5; }

p {
  line-height: 28px;
  margin: 0 0 20px 0;
  padding: 0; }

a {
  color: #4b5b86;
  text-decoration: none;
  margin: 0;
  padding: 10px;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

.header {
  background: #4b5b86;
  height: 60vh; }
  .header__heading {
    font-size: 10rem;
    font-family: "Coiny", cursive;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 130px;
    color: #ecedf5; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.areas {
  background: #ccd7e4;
  padding: 100px 0; }
  .areas__heading {
    font-size: 6rem;
    font-family: "Coiny", cursive;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 90px; }

.carousel {
  width: 100%;
  margin: 30px auto; }
  .carousel__cell {
    width: 50%;
    height: 350px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 30px; }
    .carousel__cell--background1, .carousel__cell--background4, .carousel__cell--background7 {
      background: url(../assets/background1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: background 500ms;
      -o-transition: background 500ms;
      transition: background 500ms; }
    .carousel__cell--background2, .carousel__cell--background5, .carousel__cell--background8 {
      background: url(../assets/background2.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
    .carousel__cell--background3, .carousel__cell--background6, .carousel__cell--background9 {
      background: url(../assets/background3.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
  .carousel__imageContainer {
    max-width: 100px; }
  .carousel__zone {
    font-size: 3.6rem;
    font-family: "Coiny", cursive;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 66px; }
  .carousel__image {
    fill: #4b5b86;
    width: 65px; }

.flickity-button {
  background: transparent; }

.flickity-prev-next-button {
  width: 75px;
  height: 75px; }

.flickity-button-icon {
  fill: #f4818b; }

.flickity-button:hover {
  background: rgba(236, 237, 245, 0.5); }

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #a7bed3; }

.flickity-page-dots .dot.is-selected {
  background: #f4818b; }

.transition {
  padding: 100px 0;
  background: #f4818b;
  display: none; }
  .transition__imageContainer {
    max-width: 200px;
    width: 20%;
    margin: 0 auto 50px auto; }
  .transition__icon {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #ecedf5; }

.result {
  padding: 100px 0;
  display: none; }
  .result__place {
    font-size: 6rem;
    font-family: "Coiny", cursive;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 90px; }

.footer {
  background: #4b5b86;
  color: #ecedf5;
  padding: 30px 0; }
  .footer__text {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px; }
  .footer__link {
    color: #ecedf5;
    padding: 0;
    display: inline;
    -webkit-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms; }
    .footer__link:hover {
      color: #f4818b; }
  .footer__credits {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__unsplashLink {
    margin: 0 5px; }

/* Landscape tablet and laptops*/
/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones */
/* portrait phones to landscape phones  */
