article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  padding: 10px;
  background: #ecedf5;
  color: #4b5b86;
  border: #4b5b86; }

.skipLink:focus {
  left: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #4b5b86;
  font-weight: 400;
  background: #ecedf5; }

p {
  line-height: 28px;
  margin: 0 0 20px 0;
  padding: 0; }

a {
  color: #4b5b86;
  text-decoration: none;
  margin: 0;
  padding: 10px;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

.header {
  background: #4b5b86;
  height: 60vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 237, 245, 0.2))), url(../assets/background4.jpg);
  background: -webkit-linear-gradient(top rgba(107, 119, 212, 0.2), rgba(236, 237, 245, 0.2)), url(../assets/background4.jpg);
  background: -o-linear-gradient(top rgba(107, 119, 212, 0.2), rgba(236, 237, 245, 0.2)), url(../assets/background4.jpg);
  background: linear-gradient(to bottom rgba(107, 119, 212, 0.2), rgba(236, 237, 245, 0.2)), url(../assets/background4.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__imageContainer {
    -webkit-animation-duration: 1250ms;
    animation-duration: 1250ms;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
    margin-right: 50px; }
  .header__heading {
    font-size: 12rem;
    font-family: "Coiny", cursive;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 12rem;
    color: #4b5b86; }
  .header__image {
    width: 150px; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.areas {
  background: #ecedf5;
  padding: 100px 0; }
  .areas__heading {
    font-size: 5rem;
    font-family: "Coiny", cursive;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 5rem;
    margin-bottom: 20px; }

.carousel {
  width: 100%;
  margin: 30px auto; }
  .carousel__cell {
    width: 50%;
    height: 350px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 30px; }
    .carousel__cell--background1, .carousel__cell--background4, .carousel__cell--background7 {
      background: url(../assets/background1.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
    .carousel__cell--background2, .carousel__cell--background5, .carousel__cell--background8 {
      background: url(../assets/background2.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
    .carousel__cell--background3, .carousel__cell--background6, .carousel__cell--background9 {
      background: url(../assets/background3.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
  .carousel__imageContainer {
    max-width: 100px; }
  .carousel__image {
    fill: #4b5b86;
    width: 65px; }
  .carousel__zone {
    font-size: 3.2rem;
    font-family: "Coiny", cursive;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 3.2rem;
    text-align: center; }

.flickity-button {
  background: transparent; }

.flickity-prev-next-button {
  width: 75px;
  height: 75px; }

.flickity-button-icon {
  fill: #f4818b; }

.flickity-button:hover {
  background: rgba(236, 237, 245, 0.5); }

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #a7bed3; }

.flickity-page-dots .dot.is-selected {
  background: #f4818b; }

.transition {
  padding: 200px 0;
  background: #a7bed3;
  display: none; }
  .transition__icon {
    display: block;
    text-align: center;
    margin: 0 auto 25px auto;
    color: #4b5b86;
    -webkit-animation-duration: 1200ms;
    animation-duration: 1200ms;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2; }

.result {
  padding: 100px 0 75px 0;
  display: none;
  position: relative;
  background: #ecedf5; }
  .result__wrapper {
    background: #a7bed3;
    padding: 100px;
    -webkit-box-shadow: -40px -40px 0 #f4818b, 20px 20px 0 #4b5b86;
    box-shadow: -40px -40px 0 #f4818b, 20px 20px 0 #4b5b86;
    position: relative; }
  .result__place {
    font-size: 5rem;
    font-family: "Coiny", cursive;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 5rem;
    margin-bottom: 50px;
    width: 70%; }
  .result__address {
    width: 70%; }
  .result__cuisine {
    margin-bottom: 50px;
    width: 70%; }
  .result__buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .result__imageContainer {
    position: absolute;
    top: 10%;
    right: 5%;
    -webkit-animation-duration: 1250ms;
    animation-duration: 1250ms;
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms; }
  .result__image {
    width: 150px; }

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 280px;
  background: #4b5b86;
  color: #a7bed3;
  padding: 10px;
  -webkit-transition: color 300ms ease-in, background 300ms ease-in, -webkit-box-shadow 300ms ease-in;
  transition: color 300ms ease-in, background 300ms ease-in, -webkit-box-shadow 300ms ease-in;
  -o-transition: color 300ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;
  transition: color 300ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;
  transition: color 300ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in, -webkit-box-shadow 300ms ease-in;
  margin-right: 20px; }
  .button:hover {
    color: #4b5b86;
    background: #f4818b;
    -webkit-box-shadow: 10px 10px 0 #4b5b86;
    box-shadow: 10px 10px 0 #4b5b86; }

.footer {
  background: #4b5b86;
  color: #ecedf5;
  padding: 15px 0; }
  .footer__text {
    text-align: center;
    font-size: 1.6rem;
    margin: 0 10px 10px 10px; }
  .footer__link {
    color: #ecedf5;
    padding: 0;
    display: inline;
    -webkit-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms; }
    .footer__link:hover {
      color: #f4818b; }
  .footer__credits {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__unsplashLink {
    margin: 0 5px; }

/* Landscape tablet and laptops*/
@media (max-width: 1280px) {
  .carousel__cell {
    width: 60%; }
  .carousel__zone {
    font-size: 3rem; }
  .result__wrapper {
    padding-bottom: 80px; }
  .button {
    margin-bottom: 20px; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  html {
    font-size: 55%; }
  .header__image {
    width: 125px; }
  .areas {
    padding: 75px 0; }
  .carousel__cell {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .carousel__imageContainer {
    margin-bottom: 20px; }
  .result__image {
    width: 125px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 100%; }
  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__imageContainer {
    margin: 0 0 20px 0; }
  .header__heading {
    font-size: 10rem; }
  .areas {
    padding: 50px 0; }
    .areas__heading, .areas__text {
      font-size: 4.8rem;
      text-align: center;
      margin: 0 10px 20px 10px; }
    .areas__text {
      font-size: 2.4rem; }
  .carousel__zone {
    font-size: 3.4rem; }
  .result {
    padding: 50px; }
    .result__wrapper {
      padding: 50px;
      width: 90%;
      -webkit-box-shadow: -20px -20px 0 #f4818b, 20px 20px 0 #4b5b86;
      box-shadow: -20px -20px 0 #f4818b, 20px 20px 0 #4b5b86; }
    .result__place {
      font-size: 4.8rem;
      width: 100%; }
    .result__address, .result__cuisine {
      font-size: 2.4rem;
      width: 100%; }
    .result__buttons {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .result__imageContainer {
      display: none; }
  .button {
    font-size: 2.4rem;
    margin-right: 0; } }

/* Landscape phones */
@media (max-width: 480px) {
  .header__heading {
    font-size: 8rem; }
  .result {
    padding: 25px; }
    .result__wrapper {
      padding: 0;
      width: 100%;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: none; }
    .result__place, .result__address, .result__cuisine {
      text-align: center; }
    .result__place {
      color: #f4818b; } }

/* portrait phones to landscape phones  */
@media (max-width: 320px) {
  html {
    font-size: 52%; } }
